<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>269648283496-5n423jqcq8blmac3r75o8vt4p75f7vrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269648283496-5n423jqcq8blmac3r75o8vt4p75f7vrq</string>
	<key>API_KEY</key>
	<string>AIzaSyBz6MpTF3QL1fT5EH66Zl-ky83fgmZkGms</string>
	<key>GCM_SENDER_ID</key>
	<string>269648283496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonypetrovski.served</string>
	<key>PROJECT_ID</key>
	<string>toniserved</string>
	<key>STORAGE_BUCKET</key>
	<string>toniserved.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269648283496:ios:709b0f032d5f8a5b</string>
	<key>DATABASE_URL</key>
	<string>https://toniserved.firebaseio.com</string>
</dict>
</plist>